<template name="product">
<h3>{{name}}</h3>
<div class="row product-row">
	<div class="col-sm-3">
		<img class="full" src="{{image}}">
	</div>
	<div class="col-sm-9">
		<h4>{{name}}</h4>
		<p>Average Rating: 
			<img class="stars" src="/img/{{getAvg reviews}}star.png">
			({{getReviewsTotal reviews.length }})
		</p>
		<p>{{description}}</p>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 text-right">
		{{#if currentUser}}
		<a href="{{pathFor 'new_review'}}" class="btn btn-primary">Leave Review</a>
		{{/if}}
	</div>
</div>
<hr>
<h4> Reviews & Ratings </h4>
{{#each reviews}}
<div class="row">
	<div class="col-sm-10">
		<img class="stars" src="/img/{{rating}}star.png">
		{{body}}
	</div>
	<div class="col-sm-2">
		{{review_date}}
	</div>
</div>
<br>
{{/each}}
</template>
